---
layout: default
---
<div>

<img src="/assets/img_jhgoh_lacBlanc.jpg" style="width:100%"/>
<style>
table.cv-card {
  vertical-align:top;
  width:900px;
  margin:10px;
}
table.cv-card a {color:#777;}
table.cv-card a:hover {color:#333;}
hr.cv-card {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333; text-align: center;
}
hr.cv-card-inter:after {
  content: "* * *";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
</style>
<div style="width:100%;margin:auto;padding:10px;">
<hr class="cv-card" />
<table class="cv-card"><tr>
  <td rowspan="2" style="vertical-align:top;text-align:right" width="170px"><img src="https://avatars0.githubusercontent.com/u/4388926?s=250" style="width:150px;padding:3px;border:1px solid black" /></td>
  <td colspan="2" style="vertical-align:top;text-align:center">
    <h1 style="border:0;font-size:20pt">{{site.data.userinfo.name_kr}} <span style="font-size:15pt;color:#333">{{site.data.userinfo.name_en}}</span></h1>
    <div class="social" style="padding-left:10px;font-size:9pt">
      {%if site.data.userinfo.github%}<a href="http://github.com/{{ site.data.userinfo.github }}" target="_blank"><img class="icon" src="/assets/icon-16x16/github.png"/> http://github.com/{{ site.data.userinfo.github }}</a>{%endif%}
      {%if site.data.userinfo.twitter%}<a href="http://twitter.com/{{ site.data.userinfo.twitter }}" target="_blank"><img class="icon" src="/assets/icon-16x16/twitter.png"/> http://twitter.com/{{ site.data.userinfo.twitter }}</a>{%endif%}
      {%if site.data.userinfo.facebook%}<a href="http://facebook.com/{{ site.data.userinfo.facebook }}" target="_blank"><img class="icon" src="/assets/icon-16x16/facebook.png"/> http://facebook.com/{{ site.data.userinfo.facebook }}</a>{%endif%}
      {%if site.data.userinfo.email%}<a href="mailto:{{ site.data.userinfo.email }}" target="_blank"><img class="icon" src="/assets/icon-16x16/close-envelope.png"/> {{site.data.userinfo.email}}</a>{%endif%}
    </div>
    <hr/>
  </td>
</tr>
<tr>
  <td style="padding-left:20px;padding-right:10px;font-size:10pt;text-align:right;border-right:1px solid gray">
    <span>경희대학교 물리학과 조교수</span><br/>
    <span>CERN LHC/CMS 실험 RPC-DPG 코디네이터</span></br>
    <span style="color:#333">데이터 분석 &amp; 소프트웨어 개발</span>
  </td>
  <td style="padding-left:20px;font-size:10pt;text-align:left">
    <span>Assistant Professor at Dept. Physics, Kyunghee Univ.</span><br/>
    <span>CERN LHC/CMS experiment RPC-DPG Coordinator</span></br>
    <span style="color:#333">Data analysis &amp; Software development</span>
  </td>
</tr></table>
<hr class="cv-card" />
</div>

<h2>Research Interests</h2>
<p>
<ul>
  <li>Top quark precision measurement at hadron colliders</li>
  <li>Deep Learning based particle reconstruction algorithms</li>
  <li>Muon detector performance measurement at CMS experiment</li>
  <li>CMS Muon detector upgrade</li>
  <li>Grid computing</li>
</ul>
</p>


<h2>Experiences</h2>
<style>
table.cv-table {padding:5px;margin-left:5pt;border-top:1px solid gray;border-bottom:1px solid gray;}
table.cv-table td {padding-left:10pt;}
table.cv-table tr.linetop {border-top:1px solid gray}
table.cv-table tr.linebot {border-bottom:1px solid gray}
</style>
<p>
<table class="cv-table">
  <tr class="linetop"><td>2018-present</td><td>Assistant Professor at Kyunghee University</td></tr>
  <tr class="linetop"><td>2016-2018   </td><td>Research Professor at Hanyang University</td></tr>
  <tr><td>2017-present</td><td>CMS RPC Detector Performance Group coordinator, CERN/LHC</td></tr>
  <tr><td>2017-2017   </td><td>CMS RPC Upgrade coordinator (deputy), CERN/LHC</td></tr>
  <tr class="linetop"><td>2014-2017   </td><td>Postdoc at SungKyunKwan University</td></tr>
  <tr><td>2016-present</td><td>CMS RPC DPG RECO contact person</td></tr>
  <tr><td>2015-present</td><td>CMS RPC DPG Software Coordinator</td></tr>
  <tr><td>2014-2017   </td><td>CMS Muon Physics Object Group Software Coordinator &amp; RECO contact person</td></tr>
  <tr><td>2014-2017   </td><td>CMS TOPLHCWG pseudo-top contact person</td></tr>
  <tr class="linetop"><td>2007-2014   </td><td>Ph.D Physics at SungKyunKwan University</td></tr>
  <tr><td>2005-2007   </td><td>M.S, Physics at SungKyunKwan University</td></tr>
  <tr class="linebot"><td>2001-2005   </td><td>B.A, Astronomy and Physics at Yonsei University</td></tr>
</table>
</p>


<h2>Public activities</h2>
<p>
<ul>
  <li>2016: CMS Guide, CMS Virtual Visit from Korea, Hanyang University</li>
  <li>2016: Lecturer, CMS Data Analysis School at Asia (CMSDASia), NTU, Taiwan</li>
  <li>2015: Lecturer, CMS Data Analysis School at Asia (CMSDASia), KNU, Korea</li>
  <li>2015: Lecturer, CMS Physics Analysis Toolkit (PAT) Tutorial, CERN, Switzerland</li>
  <li>2014: Tutor, CMS Physics Analysis Toolkit (PAT) Tutorial, CERN, Switzerland</li>
</ul>
</p>


<h2>Skills</h2>
<p>
<ul>
  <li>Linux based cluster administration - PBS, Condor</li>
  <li>Programming language - C/C++, python, bash scripting, Fortran, HTML, Javascript, PHP</li>
  <li>Analysis software - CMS-software, ROOT, RooFit framework, TMVA machnie learning, CMS Grid computing</li>
  <li>Detector simulation - Silvaco TCAD silicon device simulation, GEANT4 detector simulation</li>
</ul>
</p>

</div>
