---
layout: default
---
<div>

<img src="/assets/img_jhgoh_lacBlanc.jpg" style="width:100%"/>
<style>
table.cv-card {
  vertical-align:top;
  width:700px;
  margin:10px;
  border-top:2px solid gray; border-bottom:2px solid gray;
}
</style>
<div style="width:100%;margin:auto;padding:10px;">
<table class="cv-card"><tr style="padding-top:20px;padding-bottom:20px">
  <td style="vertical-align:top;text-align:right" width="170px"><img src="https://avatars0.githubusercontent.com/u/4388926?s=250" style="width:150px;padding:3px;border:1px solid black" /></td>
  <td style="vertical-align:top;padding-left:5px">
    <h1 style="font-size:20pt">고정환 <span style="font-size:15pt;color:#333">Junghwan Goh</span></h1>
    <div class="social" style="padding-left:10px;font-size:9pt">
      {%if site.username_github%}<a href="http://github.com/{{ site.username_github }}" target="_blank"><img class="icon" src="/assets/icon-github.png"/> http://github.com/{{ site.username_github }}</a>{%endif%}
      {%if site.username_codepen%}<a href="http://codepen.io/{{ site.username_codepen }}" target="_blank"><img class="icon" src="/assets/icon-codepen.png"/> http://codepen.io/{{ site.username_codepen }}</a>{%endif%}
      {%if site.username_twitter%}<a href="http://twitter.com/{{ site.username_twitter }}" target="_blank"><img class="icon" src="/assets/icon-twitter.png"/> http://twitter.com/{{ site.username_twitter }}</a>{%endif%}
      {%if site.username_facebook%}<a href="http://facebook.com/{{ site.username_facebook }}" target="_blank"><img class="icon" src="/assets/icon-facebook.png"/> http://facebook.com/{{ site.username_facebook }}</a>{%endif%}
      {%if site.email%}<a href="mailto:{{ site.email }}" target="_blank"><img class="icon" src="/assets/icon-email.png"/> {{site.email}}</a>{%endif%}
    </div>
    <hr/>
    <div style="padding-left:20px;padding-right:10px;font-size:10pt;text-align:right;border-right:1px solid gray">
      <span>한양대학교 연구조교수</span><br/>
      <span>유럽 입자물리 연구소 LHC/CMS 실험 RPC-DPG 코디네이터</span></br>
      <span style="color:#333">실험 데이터 분석 &amp; 소프트웨어 개발</span>
    </div>
    <div style="padding-left:20px;font-size:10pt;text-align:left">
      <span>Research Assistant Professor at Hanyang University</span><br/>
      <span>CERN LHC/CMS experiment RPC-DPG Coordinator</span></br>
      <span style="color:#333">Experimental Data analysist &amp; Software developer</span>
    </div>
  </td>
</tr></table>
</div>

<h2>Research Interests</h2>
<ul>
  <li>Top quark precision measurement at hadron colliders</li>
  <li>Deep Learning based particle reconstruction algorithms</li>
  <li>Muon detector performance measurement at CMS experiment</li>
  <li>CMS Muon detector upgrade</li>
  <li>Grid computing</li>
</ul>


<h2>Education and Experiences</h2>
<style>
table.cv-table {padding:5px;margin-left:5pt;border-top:1px solid gray;border-bottom:1px solid gray;}
table.cv-table td {padding-left:10pt;}
table.cv-table tr.linetop {border-top:1px solid gray}
table.cv-table tr.linebot {border-bottom:1px solid gray}
</style>
<table class="cv-table">
<!--  <tr class="linetop"><td>2018-present</td><td>Assistant Professor at Kyunghee University</td></tr> -->
  <tr class="linetop"><td>2016-2018   </td><td>Research Professor at Hanyang University</td></tr>
  <tr><td>2017-present</td><td>CMS RPC Detector Performance Group coordinator, CERN/LHC</td></tr>
  <tr><td>2017-2017   </td><td>CMS RPC Upgrade coordinator (deputy), CERN/LHC</td></tr>
  <tr class="linetop"><td>2014-2017   </td><td>Postdoc at SungKyunKwan University</td></tr>
  <tr><td>2016-present</td><td>CMS RPC DPG RECO contact person</td></tr>
  <tr><td>2015-present</td><td>CMS RPC DPG Software Coordinator</td></tr>
  <tr><td>2014-2017   </td><td>CMS Muon Physics Object Group Software Coordinator &amp; RECO contact person</td></tr>
  <tr><td>2014-2017   </td><td>CMS TOPLHCWG pseudo-top contact person</td></tr>
  <tr class="linetop"><td>2007-2014   </td><td>Ph.D Physics at SungKyunKwan University</td></tr>
  <tr><td>2005-2007   </td><td>M.S, Physics at SungKyunKwan University</td></tr>
  <tr class="linebot"><td>2001-2005   </td><td>B.A, Astronomy and Physics at Yonsei University</td></tr>
</table>


<h2>Public activities</h2>
<ul>
  <li>2016: CMS Guide, CMS Virtual Visit from Korea, Hanyang University</li>
  <li>2016: Lecturer, CMS Data Analysis School at Asia (CMSDASia), NTU, Taiwan</li>
  <li>2015: Lecturer, CMS Data Analysis School at Asia (CMSDASia), KNU, Korea</li>
  <li>2015: Lecturer, CMS Physics Analysis Toolkit (PAT) Tutorial, CERN, Switzerland</li>
  <li>2014: Tutor, CMS Physics Analysis Toolkit (PAT) Tutorial, CERN, Switzerland</li>
</ul>


<h2>Skills</h2>
<ul>
  <li>Linux based cluster administration - PBS, Condor</li>
  <li>Programming language - C/C++, python, bash scripting, Fortran, HTML, Javascript, PHP</li>
  <li>Analysis software - CMS-software, ROOT, RooFit framework, TMVA machnie learning, CMS Grid computing</li>
  <li>Detector simulation - Silvaco TCAD silicon device simulation, GEANT4 detector simulation</li>
</ul>

</div>
