<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{% if page.title %}{{ site.title | escape }} ::: {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
div.container {
  width:1024px;
  border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  padding-left:30px;
  padding-right:30px;
  margin-top:70px;
  margin-bottom:10px;
}
img.icon {height:16px;}
h1 {
  border-left: 20px solid black;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  margin-top:5px;
}
h2 {
  border-bottom: 1px dotted grey;
}
</style>

</head>
